@using System.Globalization
@model IEnumerable<Inverter>
@{
    ViewData["Tiltle"] = "Inverterek";
}

<h1>Inverterek</h1>
@if (User.IsInRole("Administrator"))
{
    <p>
        <a asp-action="Create">Új inverter felvétele</a> <a asp-action="Index" asp-controller="Upload">Excel tábla feltöltése</a>
    </p>
}
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model=>model.MinNumberOfPanels)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxNumberOfPanels)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amps)
        </th>
        <th>
            @Html.DisplayNameFor(model=> model.PriceHuf)
        </th>
        @if(User.IsInRole("Administrator"))
        {
        <th></th>
        <th></th>
        }
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem=>item.MinNumberOfPanels)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxNumberOfPanels)
            </td>
            <td>
                @Html.DisplayFor(modelItem=>item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amps)
            </td>
            <td>
                @Html.DisplayFor(modelItem=>item.PriceHuf)
            </td>
            @if(User.IsInRole("Administrator"))
            {
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Szerkesztés</a>
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id">Törlés</a>
            </td>
            }
        </tr>
    }
    </tbody>
</table>
