@model IEnumerable<ConstantPrice>
@{
    ViewData["Title"] = "Konstans Árak";
}

<h1>
    Konstans árak
</h1>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model=>model.Price)
        </th>
        @if(User.IsInRole("Administrator"))
            {
                <th></th>
            }
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem=>item.Price)
            </td>
            @if (User.IsInRole("Administrator"))
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Szerkesztés</a>
            </td>
            }
        </tr>
    }
    </tbody>
</table>