@using Microsoft.AspNetCore.Identity
@model CalculatorViewModel
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Kalkulátor";
}
<div class="row">
    <div class="col-md-2">
        <form asp-controller="Calculator" asp-action="Index" method="post">
            <div asp-validation-summary = "All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NumberOfPanels"></label>
                <input asp-for="NumberOfPanels" />
                <span asp-validation-for="NumberOfPanels" class="text-danger"></span>
            </div>
            <button class"btn btn-default" type="submit">Rögzít</button>
        </form>
    </div>
</div>
@{ApplicationUser user = UserManager.FindByNameAsync(User.Identity.Name).Result;}

<hr />

<table class="table">
    <thead>
    <tr>
        <th>

        </th>
        <th>
            Név
        </th>
        <th>
            Minimum panelszám
        </th>
        <th>
            Maximum panelszám
        </th>
        <th>
            Panelszám
        </th>
        <th>
            Teljesítmény
        </th>
        <th>
            Méret (nm)
        </th>
        <th>
            Szerelési anyagköltség netto/panel
        </th>
        <th>
            Munkadíj netto
        </th>
        <th>
            Kiszállítás netto
        </th>
        <th>
            Tervezési költség
        </th>
        <th>
            Inverter Mérete
        </th>
        <th>
            Amperigény
        </th>
        <th>
            HUF
        </th>
        <th>
            Panel netto
        </th>
        <th>
            Rendszerár brutto
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Inverters) {
        <tr>
            <td>
                
                @if(item is not null && user.SelectedInverters is not null && user.SelectedInverters.Any(i=>i.Id == item.Id))
                {
                        <p>Rögzítve</p>
                    }
                    else
                    {
                        <form>
                            <button asp-action="Fixate" asp-controller="Calculator" asp-route-id="@item.Id" asp-route-nop="@Model.NumberOfPanels" class="btn btn-default">Rögzítés</button>
                        </form>
                    }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem=>item.MinNumberOfPanels)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxNumberOfPanels)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfPanels)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Output)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PanelSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem=>item.MaterialCost) 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShippingCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlanningCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem=>item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amps)
            </td>
            <td>
                @Html.DisplayFor(modelItem=>item.PriceHuf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PanelCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullCost)
            </td>
        </tr>
    }
    </tbody>
</table>